/* Google Fonts */
body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}

p, a {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

footer {
  background-color: #f8f9fa;
}

button {
  font-weight: 500;
}
